<p class="text-muted">
  {% if post %}
  {% assign tags = post.tags %}
  {% assign resource = post %}
  {% else %}
  {% assign tags = page.tags %}
  {% assign resource = page %}
  {% endif %}


  {{ resource.date | date_to_string }}
  {% if site.data.theme.show_post_commets_count %}
  | <i class="fa fa-comment"></i> <a class="text-muted"
    href="{{resource.url | prepend:site.baseurl}}/#disqus_thread"></a>
  {% endif %}

  {% if site.data.theme.show_post_tags == true %}
  | <i class="fa fa-tag"></i>
  {% for tag in tags %}
  <a class="text-muted" href="{{site.baseurl}}/tags/#{{tag|slugize}} ">{{tag}}</a>{% unless forloop.last %},{% endunless
  %}
  {% endfor %}
  {% endif %}
</p>

{% assign provider = site.comments.provider | default:"disqus" %}
{% if provider == "disqus" %}
{% assign disqus = site.disqus | default:site.disqus_shortname %}
{% if disqus %}
<div id="disqus_thread"></div>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments
    powered by Disqus.</a></noscript>
<script>!function (w, d) {
    if (d.getElementById("disqus_thread")) {
      if (w.DISQUS) {
        w.DISQUS.reset({
          reload: true,
          config() {
            this.page.url = w.location.href;
            this.page.title = d.title;
          },
        });
      } else {
        w.disqus_config = function disqusConfig() {
          this.page.url = w.location.href;
          this.page.title = d.title;
        };
        w.loadJSDeferred(d.getElementById("_hrefDisqus").href + 'embed.js');
      }
    }
  }(window, document);</script>
{% endif %}
{% elsif provider == "utterances" %}
{% assign utterances = site.utterances %}
{% if utterances.repo %}
<script src="https://utteranc.es/client.js" repo={{ utterances.repo }} issue-term={{ utterances.issue-term }} label={{
  utterances.label }} theme={{ utterances.theme }} crossorigin="anonymous" async>
  </script>
{% endif %}