<!DOCTYPE html>
<html>

<head>

    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>

    <meta name="description" content="abayomi personal blog." />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/normalize.css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/ui-style.css">


    <meta property="og:image" content="https://rosano.s3.amazonaws.com/public/garden/touch.png?">
</head>

<body class="OLSKDecor OLSKDecorCapped OLSKDecorX">

    <!-- <div class="OLSKCommonCard OLSKCommonCrownCard">
        <section>
            <span class="KVCArticleTitle">Abayomi Adekanmbi</span>
        </section>
    </div> -->

<!-- 
    <div id="menu"> -->
        
            <!-- {% for item in site.data.navigation %}

                <a class="KVCRootLink" href="{{ item.path }}">{{ item.title }}</a>
           
            {% endfor %} -->

   
        <!-- <hr role="presentation"> -->
    <!-- </div>  -->

    <!-- <a class="KVCRootLink" href="/">Home</a> -->

    <article class="KVCArticleBody">

       <p>
        {{content}}
       </p>
    
    </article>



</body>

</html>