<!DOCTYPE html>
<html>

<head>

    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>

    <meta name="description" content="abayomi adekanmbi personal blog." />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/normalize.css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/ui-style.css">

    <meta property="og:type" content="website">
	<meta property="og:url" content="https://aabayomi.com/">
	<meta property="og:title" content="abayomi adekanmbi">
	<meta property="og:description" content="Lagos-born Roboticist">
	<meta property="og:image" content="/assets/images/profile-image.jpg">
</head>

<body class="OLSKDecor OLSKDecorCapped OLSKDecorX">

    <article class="KVCArticleBody">

       <p>{{content}}</p>
    
    </article>
</body>

</html>